*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  --ff-family: 'Staatliches',sans-serif;
  --ff-header-mobile: 'Palanquin' sans-serif;
  --ff-texto-telamaior:'Roboto',sans-serif;
  --ff-link-rodape:'Open Sans','sans-serif';
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}
#page{
  width: 385px;
  height: 1995px;
  background-color:#EFF1FF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#head{
  width: 385px;
  height: 279px;
  background-color:#8E9AAF;
  margin: 0 auto;
  text-align: center;
}
figure{
width: 100%;
align-items: center;
}
#head img{
  width: 137px;
  height: 137px;
  margin: 32px 0;
  width: 100%;
}
#head h1{
  width: 385px;
  height: 49px;
  background-color: #CBC0D3;
  Font-family: var(--ff-family);
  font-size: 4rem;
  color: #FFFFFF;
  letter-spacing: 0.5rem;
  text-shadow:0.1em 0.1em 0.05em #333 ;
}
header{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: var(--ff-header-mobile);
}
.biggest{
  display: none;

}
.biggerpicturescreen{
display: none;
}

header p {
text-align: center;
margin-top: 32px;
width: 315px;
height: 75px;
line-height: 15px;
font-family: 'Palanquin';
font-style: normal;
font-weight: 400;
font-size: 1.4rem;
color: #23053A;
}

.images{
margin: 0 auto;
text-align: center;
margin-bottom: 14px;
margin-top: 32px;
}
.images figure,img{
  margin-top: 20px;
  width: 315px;
  object-fit: contain;
  position: relative;
}
.description{
position: absolute;
top: 40px;
left: 185px;
background-color:#FEEAFA;
width: 112px;
height: 35px;
border-radius: 20px;
color: #4A4E69;
font-family: var(--ff-family);
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
letter-spacing: 0.05em;
display: flex;
align-items: center;
justify-content: center;
}
main{
animation: downtop 700ms;
}
header{
animation: topdown 700ms;
}

img:hover{
  transform: scale(1, 1.1);

}


@media(min-width:760px){
  #page{
  flex-direction: row;
  width: 74.1rem;
  height: 720px;
  position: relative;
  }
 .images{
  display: none;
 }
 #text {
  display: none;
  }
  .biggest{
  position: absolute;
  padding-top: 10px;
  height: 262px;
  left: 30px;
  top: 300px;
  font-family: var(--ff-texto-telamaior);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  object-fit: contain;
  }

 #head{ 
  width: 37.7rem;
  height: 72rem;
 }
 #head h1{
  width: 37.7rem;
  height: 7rem;
  padding-top: 10px;
 }

 .biggerpicturescreen{

  display: flex;
  justify-content:center;
  gap: 2.1rem;
  width: 37rem;
  height: 720px;
}

#column1{
display: none;
}
 .imgsmall{
  width: 16rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 20px;
 }
 .imgbig{
  width: 16rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 20px;
 }
 .linkrodape{
  width: 392px;
  height: 30px;
  font-family: var(--ff-link-rodape);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  color: #4A4E69;
  mix-blend-mode: normal;
  position: absolute;
  bottom: 10rem;
  
 }
 .footerlink span{
  font-weight: bold;
 }
.footerlink a{
  text-decoration: none;

 }
  a:hover{
    color: #010418;
    transform: scale(1, 1.1);;
 }
 
}


@media(min-width:1290px){
  #page{
  flex-direction: row;
  width: 1280px;
  height: 720px;
  position: relative;
  }
 .images{
  display: none;
 }
 #text {
  display: none;
  }
  .biggest{
  position: absolute;
  padding-top: 10px;
  height: 26;
  left: 30px;
  top: 300px;
  font-family: var(--ff-texto-telamaior);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  object-fit: contain;

  }
 

 .biggerpicturescreen{
  display: flex;
  justify-content:center;
  gap: 2.1rem;
  width: 905px;
  height: 720px;
 
}
  #column1{
  display:flex;
  flex-direction: column;
  }
 .imgsmall{
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
 }
 .imgbig{
  width: 220px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
 }
 .footerlink{
  width: 59.2rem;
  height:3rem;
  font-family: var(--ff-link-rodape);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  text-align: center;
  color: #4A4E69;
  position: absolute;
  bottom: 8rem;
  right:15.5rem;
 }
 .footerlink span{
  font-weight: bold;
 }
.footerlink a{
  text-decoration: none;

 }
  a:hover{
    color: #010418;
    transform: scale(50px);
 }
 
}



@keyframes downtop{
 0%{transform: translateY(100px);
    opacity: 0;
  }
  50%{transform: translateY(50px);
    opacity: 0.5;
  }
  100%{transform: translateY(25px);
    opacity: 1;
  }
}



@keyframes topdown{
  0%{transform: translateY(-100px);
     opacity: 0;
   }
   50%{transform: translateY(-50px);
     opacity: 0.5;
   }
   100%{transform: translateY(-25px);
     opacity: 1;
   }
 }